.wrapper {
  display: flex;
  align-items: center;

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    background: var(--blue-alternative);
    border-radius: 10px;
    color: var(--white);
    font-size: 20px;
    font-family: 'VKSansDisplay-Bold', sans-serif;
    margin-right: 10px;
  }

  h1 {
    font-family: 'VKSansDisplay-Bold', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    color: var(--greyDark);
  }
}