.css-b62m3t-container {
	width: 100% !important;
}

.select {
	&__control {
		color: var(--black);
		font-size: 13px;
		border: none !important;
		border-radius: 4px !important;
		box-shadow: 0 1px 0 0 #DCE1E6, 0 0 0 1px #E7E8EC;

		&--is-focused {
			border: none !important;
			box-shadow: 0 1px 0 0 #DCE1E6, 0 0 0 1px #E7E8EC !important;
		}

		&--minu-is-open {
			border: 1px solid rgb(255 255 255 / 10%) !important;
			box-shadow: none !important;
		}
	}

	&__single-value {
		color: var(--black) !important;
	}

	&__indicator {
		color: rgb(0 0 0 / 50%) !important;

		&-separator {
			display: none !important;
		}
	}

	&__menu {
		border-radius: 10px !important;

		&-list {
			padding: 10px 0 !important;
			font-size: 13px;
		}
	}

	&__option {
		cursor: pointer;

		&--is-focused {
			color: var(--white) !important;
			background-color: var(--blue-alternative) !important;
		}

		&--is-selected {
			background-color: var(--blue) !important;
		}
	}
}
