@import './src/scss/index';

.wrapper {
		width: 990px;
		margin: 0 auto;
		color: var(--greyDark);
	height: 49px;
		display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 20px;

	@include _tablet {
		width: 100%;
	}

	svg {
		height: 35px;
		width: 35px;
		cursor: pointer;
	}
}
