.createPost {
	display: grid;
	grid-template-areas: "avatar text icon" "image image image" "bottom bottom bottom";
	grid-template-columns: 30px 1fr auto;
	align-items: flex-start;
	margin-bottom: 20px;
	padding: 20px;
	column-gap: 10px;
	background: var(--white);
	width: 100%;
	min-width: 530px;
	border-radius: 4px;
	box-shadow: 0 1px 0 0 #DCE1E6, 0 0 0 1px #E7E8EC;

	.avatar {
		grid-area: avatar;
		width: 30px;
		height: 30px;
		object-fit: cover;
		border-radius: 50%;
	}

	.textarea {
		grid-area: text;
		width: 100%;
		padding: 7px;
		overflow: hidden;
		color: var(--grey);
		font-size: 13px;
		word-wrap: break-word;
		border: none;
		resize: none;

		&::placeholder {
			font-family:
							-apple-system,
							BlinkMacSystemFont,
							"Segoe UI",
							Roboto,
							Oxygen,
							Ubuntu,
							Cantarell,
							"Fira Sans",
							"Droid Sans",
							"Helvetica Neue",
							sans-serif;
		}
		&:focus {
			outline: none;
		}
	}

	.icons {
		grid-area: icon;
		justify-self: flex-end;
		padding-top: 4px;

		.file {
			position: absolute;
			visibility: hidden;
			opacity: 0;
		}

		svg {
			cursor: pointer;
			transition: all ease 0.2s;

			path {
				fill: var(--grey);
			}

			&:hover {
				path {
					fill: var(--blue);
				}
			}
		}
	}

	.postImage {
		display: flex;
		grid-area: image;
		align-items: center;
		justify-content: center;
		width: 100%;
		margin-top: 20px;

		img {
			width: 100%;
			object-fit: cover;
		}
	}

	.openBlock {
		display: flex;
		align-items: center;
		justify-content: space-between;
		grid-area: bottom;
		margin-top: 40px;

		.publish {
			grid-area: button;
		}
	}
}
