.createPost {
	display: grid;
	grid-template-areas: "avatar text icon" "image image image" "emoji . button";
	grid-template-columns: 30px 1fr auto;
	align-items: flex-start;
	margin-bottom: 20px;
	padding: 20px;
	column-gap: 10px;
	background: var(--white);
	border-radius: 4px;
	box-shadow: 0 1px 0 0 #DCE1E6, 0 0 0 1px #E7E8EC;

	.avatar {
		grid-area: avatar;
		width: 30px;
		height: 30px;
		object-fit: cover;
		border-radius: 50%;
	}

	.textarea {
		grid-area: text;
		width: 100%;
		max-height: 400px;
		padding: 7px;
		overflow: hidden;
		color: var(--grey);
		font-size: 13px;
		word-wrap: break-word;
		border: none;
		resize: none;

		&:focus {
			outline: none;
		}

		&[contenteditable="true"]:empty::before {
			display: block;
			color: var(--grey);
			content: attr(placeholder);
		}
	}

	.icons {
		grid-area: icon;
		justify-self: flex-end;
		padding-top: 4px;

		.file {
			position: absolute;
			visibility: hidden;
			opacity: 0;
		}

		svg {
			cursor: pointer;
			transition: all ease 0.2s;

			path {
				fill: var(--grey);
			}

			&:hover {
				path {
					fill: var(--blue);
				}
			}
		}
	}

	.picker {
		position: relative;
		grid-area: emoji;
		margin-top: 45px;

		.emoji {
			cursor: pointer;
		}
	}

	.postImage {
		display: flex;
		grid-area: image;
		align-items: center;
		justify-content: center;
		width: 100%;
		margin-top: 40px;

		img {
			width: 100%;
			object-fit: cover;
		}
	}

	.publish {
		grid-area: button;
		margin-top: 40px;
	}
}
