@import "../../scss/index";

.button {
	min-width: 150px;
	padding: 10px 20px;
	color: var(--white);
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: all ease 0.2s;

	@include flexCenterCenter;

	&:disabled {
		opacity: 0.5;
		pointer-events: none;
	}
}

.primary {
	background: var(--blue);

	&:hover {
		background: var(--blue-alternative);
	}

	&:active {
		transform: translateY(2px);
	}
}

.transparent {
	color: var(--blue);
	background: transparent;

	&:hover {
		background: rgba(174, 183, 194, 0.20);
	}

	&:active {
		transform: translateY(2px);
	}
}

.secondary {
	color: #55677d;
	background: #e5ebf1;
	padding: 10px 15px;
	border-radius: 4px;
	font-weight: 400;

	&:hover {
		background: #d5dbe1;
	}
}
