.wrapper {
	width: 550px;
	background: var(--white);
	border-radius: 4px;

	.top {
		padding: 20px;
		font-weight: 400;
		font-size: 16px;
		background: var(--bg-grey-light);
		border-bottom: 1px solid var(--border);
		border-radius: 4px 4px 0 0;
	}

	.body {
		display: flex;
		flex-direction: column;
		padding: 20px;
		color: var(--grey);
		font-size: 13px;

		.item {
			display: flex;
			align-items: center;
			justify-content: space-between;

			.change {
				color: var(--blue);
				cursor: pointer;
				transition: all ease 0.2s;

				&:hover {
					text-decoration: underline;
				}
			}
		}

		.changePassword {
			display: flex;
			flex-direction: column;
			row-gap: 20px;

			.password {
				display: grid;
				grid-template-columns: 130px 1fr;
				align-items: center;
				row-gap: 20px;
			}

			button {
				align-self: center;
				width: fit-content;
			}

			.hide {
				color: var(--blue);
				font-size: 13px;
				text-align: center;
				cursor: pointer;
				transition: all ease 0.2s;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	.bottom {
		padding: 20px 0;
		color: var(--black);
		font-size: 13px;
		text-align: center;
		background: var(--bg-grey-light);
		border-top: 1px solid var(--border);
		border-radius: 0 0 4px 4px;

		span {
			color: var(--blue);
			cursor: pointer;
			transition: all ease 0.2s;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	.modal {
		background:var(--white);
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 60px 40px;
		border-radius: 4px;
		column-gap: 20px;

		span {
			color: var(--grey-middle);
			font-size: 13px;
		}
	}
}
