.wrapper {
	width: 100%;
	background: var(--white);
	border-radius: 4px;

	.top {
		padding: 20px;
		font-weight: 400;
		font-size: 16px;
		background: var(--bg-grey-light);
		border-bottom: 1px solid var(--border);
		border-radius: 4px 4px 0 0;
	}

	.body {
		position: relative;
		display: flex;
		flex-direction: column;
		padding: 30px 20px;
		color: var(--grey);
		font-size: 13px;
		text-align: center;

		.err {
			position: absolute;
			top: 6px;
			right: 0;
			left: 0;
			color: var(--red);
			font-size: 13px;
		}

		.item {
			display: flex;
			align-items: center;
			justify-content: space-between;

			.change {
				color: var(--blue);
				cursor: pointer;
				transition: all ease 0.2s;

				&:hover {
					text-decoration: underline;
				}
			}
		}

		.changePassword {
			display: flex;
			flex-direction: column;
			text-align: start;
			row-gap: 20px;

			.password {
				display: grid;
				grid-template-columns: 130px 1fr;
				align-items: center;
				row-gap: 20px;
			}

			.save {
				position: relative;
				display: flex;
				align-items: center;
				justify-content: center;

				button {
					align-self: center;
					width: fit-content;
				}

				span {
					position: absolute;
					top: 11px;
					right: 50px;
					color: var(--grey-middle);
					font-size: 13px;
				}
			}

			.hide {
				color: var(--blue);
				font-size: 13px;
				text-align: center;
				cursor: pointer;
				transition: all ease 0.2s;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	.bottom {
		padding: 20px 0;
		color: var(--black);
		font-size: 13px;
		text-align: center;
		background: var(--bg-grey-light);
		border-top: 1px solid var(--border);
		border-radius: 0 0 4px 4px;

		span {
			color: var(--blue);
			cursor: pointer;
			transition: all ease 0.2s;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	.modal {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 60px 40px;
		column-gap: 20px;
		background: var(--white);
		border-radius: 4px;

		span {
			color: var(--grey-middle);
			font-size: 13px;
		}
	}
}
