@import "../../scss/index";

.form {
	position: relative;

	@include flexColumn;

	row-gap: 20px;

	.selectContainer {
		width: 100%;
	}

	.err {
		position: absolute;
		top: -35px;
		color: var(--red);
	}

	.switchBlock {
		color: var(--grey);
	}
}

.switch {
	color: var(--grey);
	font-weight: 700;
	cursor: pointer;
	transition: all ease 0.2s;
	margin-left: 5px;

	&:hover {
		color: var(--blue);
	}
}
