@import "../../scss/index";

.form {
	position: relative;

	@include flexColumn;

	row-gap: 20px;

	.selectContainer {
		width: 100%;
	}

	.err {
		position: absolute;
		top: -35px;
		color: var(--red);
	}

	.submit {
		@include flexColumn;

		row-gap: 20px;

		.btn {
			padding: 15px 50px;
			color: white;
			font-weight: 700;
			font-size: 18px;
			background: var(--blue);
			border: none;
			border-radius: 10px;
			cursor: pointer;

			&:disabled {
				opacity: 0.3;
				pointer-events: none;
			}
		}
	}
}

.switch {
	color: var(--grey);
	font-weight: 700;
	cursor: pointer;
	transition: all ease 0.2s;

	&:hover {
		color: var(--blue);
	}
}
