.wrapper {
	display: grid;
	grid-template-rows: auto 1fr;
	width: 550px;
	background: var(--white);
	border-radius: 5px;
	box-shadow: 0 1px 0 0 #DCE1E6, 0 0 0 1px #E7E8EC;

	.top {
		padding: 20px;
		color: var(--black);
		font-size: 13px;
		background: var(--bg-grey-light);
		border-bottom: 1px solid var(--border);
		border-radius: 5px 5px 0 0;
	}

	.grid {
		display: grid;
		grid-template-columns: 1fr;
		column-gap: 10px;

		.request {
			padding: 20px 20px 0;
			background: var(--white);

			&:last-child {
				border-bottom: none;
			}

			.card {
				display: grid;
				grid-template-areas: "avatar name" ". actions";
				grid-template-columns: 80px 1fr;
				padding-bottom: 20px;
				column-gap: 20px;
				border-bottom: 1px solid var(--border);

				.userName {
					grid-area: name;
					color: var(--blue);
					font-weight: 500;
					text-decoration: none;
					transition: all ease .2s;

					&:hover {
						text-decoration: underline;
					}
				}

				.followers {
					position: relative;
					grid-area: avatar;
					cursor: pointer;

					img {
						width: 80px;
						height: 80px;
						object-fit: cover;
						border-radius: 50%;
					}
				}

				.action {
					display: flex;
					grid-area: actions;
					column-gap: 20px;

					.done {
						padding: 5px 10px;
						font-weight: 500;
						font-size: 14px;
					}
				}
			}
		}

		.noRequests {
			display: flex;
			align-items: center;
			justify-content: center;
			color: #939393;
			font-size: 13px;
		}
	}
}
