.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	.main {
		width: 990px;
		margin: 70px auto 50px;
		padding: 20px;
		position: relative;

		.sidebar {
			position: fixed;
			left: auto;
			right: auto;
			top: 85px;
			 width: 160px;
		}

		.content {
			width: 770px;
			margin-left: 180px;
		}
	}

	.footer {
		margin-top: auto;
	}
}
