.wrapper {
	.main {
		position: relative;
		width: 990px;
		margin: 70px auto 50px;
		padding: 0 20px;

		.sidebar {
			position: fixed;
			top: 70px;
			right: auto;
			left: auto;
			z-index: 11;
			width: 160px;
		}

		.content {
			margin-left: 170px;
		}
	}

	.footer {
		margin-top: auto;
	}
}
