.wrapper {
	display: flex;
	flex-direction: column;

	.unreadMessages {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 20px;
		height: 20px;
		color: var(--white);
		font-size: 12px;
		line-height: 0;
		background: var(--grey300);
		border-radius: 50%;
	}

	.requestFriends {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 20px;
		height: 20px;
		color: var(--white);
		font-size: 12px;
		line-height: 0;
		background: var(--grey300);
		border-radius: 50%;
	}
}
