.toast {
	position: absolute;
	right: 20px;
	bottom: 100px;
	z-index: 999;
	display: flex;
	width: 400px;
	padding: 20px;
	column-gap: 20px;
	background: var(--white);
	border-radius: 5px;
	box-shadow: 0 4px 4px rgb(0 0 0 / 5%);

	.avatar {
		position: relative;

		img {
			width: 100px;
			height: 100px;
			object-fit: cover;
			border-radius: 50%;
		}
	}

	svg {
		position: absolute;
		top: 15px;
		right: 15px;
		z-index: 11;
		cursor: pointer;
		transition: all ease 0.2s;

		&:hover {
			transform: rotate(90deg);
		}
	}

	.body {
		display: flex;
		flex-direction: column;
		row-gap: 20px;

		p {
			display: flex;
			align-items: center;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
	}
}
