@import "./src/scss/index";

.container {
	display: flex;
	column-gap: 20px;

	.left {
		display: flex;
		flex-wrap: wrap;
		width: 230px;
		height: fit-content;
		column-gap: 20px;
		row-gap: 20px;
	}

	.right {
		display: flex;
		flex-wrap: wrap;
		width: 550px;
		height: fit-content;
		column-gap: 20px;
		row-gap: 20px;
	}
}
