@import "./src/scss/index";

.container {
	.wrapper {
		display: flex;
		column-gap: 20px;
		.avatar {
			background: var(--white);
			padding: 15px;
			position: relative;
			width: 230px;
			border-radius: 4px;
			display: flex;
			row-gap: 15px;
			flex-direction: column;


			.img {
				position: relative;
				border-radius: 2px;

				img {
					box-shadow: 0 1px 0 0 #DCE1E6, 0 0 0 1px #E7E8EC;
					width: 200px;
					height: 200px;
					object-fit: cover;
					border-radius: 2px;
				}

				.uploadAvatar {
					animation: opacity .2s linear;
					position: absolute;
					display: flex;
					user-select: none;
					align-items: center;
					justify-content: center;
					bottom: 3px;
					height: 20%;
					width: 100%;
					background: rgba(0, 0, 0, 0.7);
					border-radius: 0 0 2px 2px;
					color: var(--white);
					cursor: pointer;
					font-size: 13px;

					svg {
						height: 15px;
						width: 15px;
						margin-right: 5px;
					}
				}
			}
		}

		.bio {
			width: 530px;
			padding: 20px;
			background: var(--white);
			border-radius: 4px;

			.top {
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding-bottom: 20px;
				border-bottom: 1px solid var(--grey-super-light);
				h1 {
					font-size: 19px;
					font-weight: 400;
				}
				.online {
					position: relative;
					color: var(--grey-middle);
					font-size: 12px;
				}
			}

			.lastVisit {
				color: var(--grey-middle);
				font-size: 12px;
			}
		}
	}
}
