@import "./src/scss/index";

.container {

	.wrapper {
		background: var(--white);
		padding: 20px;
		border-radius: 11px;
		display: grid;
		grid-template-columns: 300px 1fr;
		column-gap: 40px;
		row-gap: 20px;
		.avatar {
			width: 300px;
			height: 300px;
			position: relative;
			&:hover {
				.uploadAvatar {
					display: flex;
				}
			}

			img{
				border-radius: 11px;
				//box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);
				width: 100%;
				height: 100%;
				object-fit: cover;
			}

			.uploadAvatar {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				display: none;
				align-items: center;
				justify-content: center;
				color: var(--white);
				background: rgb(0 0 0 / 50%);
				border-radius: 11px;
				cursor: pointer;
			}
		}

		.bio {
			display: flex;
			flex-direction: column;
			row-gap: 20px;

			.online {
				position: relative;

				.green {
					position: absolute;
					left: 55px;
					top: 5px;
					background: var(--green);
					border-radius: 50%;
					width: 10px;
					height: 10px;
				}
			}

			.lastVisit {
				color: var(--grey);
			}
		}
	}
}