@import './src/scss/index';

.wrapper {
	width: 650px;
	border-radius: 4px;

	@include _tabletS {
		width: 100vw;
	}

	.top {
		display: flex;
		align-items: center;
		padding: 20px 20px 0;
		font-size: 13px;
		column-gap: 25px;
		background: var(--bg-grey-light);
		border-bottom: 1px solid var(--grey-super-light);
		border-radius: 4px 4px 0 0;

		span {
			padding-bottom: 20px;
			color: var(--grey);
			font-weight: 500;
			border-bottom: 2px solid transparent;
			transform: translateY(1px);
			cursor: pointer;
		}

		.active {
			color: var(--black);
			border-bottom: 2px solid var(--blue-alternative);
		}
	}

	.usersList {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		min-height: 188px;
		padding: 25px 14px;
		background: var(--white);
		border-radius: 0 0 4px 4px;

		.user {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			padding: 0 11px;

			img {
				width: 100px;
				height: 100px;
				object-fit: cover;
				border-radius: 50%;
			}

			.name {
				margin-top: 5px;
				color: var(--blue-alternative);
				text-align: center;
				transition: all ease 0.2s;

				&:hover {
					text-decoration: underline;
				}

				span {
					display: block;
				}
			}
		}
	}
}
