@import "../../../scss/index";

.overlay {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 998;
	background: rgb(33 31 32 / 30%);
	overflow: hidden auto;
	opacity: 1;
	backdrop-filter: blur(2px);
	display: flex;
	align-items: flex-start;
	justify-content: center;

	.modal {
		padding-bottom: 50px;
		position: relative;
		top: 50px;
		bottom: 50px;
		transform: translate(-50%, -50%);

		z-index: 999;
		font-size: 13px;
		border-radius: 4px;

		@include flexColumn;

		.closeIcon {
			position: absolute;
			top: 15px;
			right: 15px;
			cursor: pointer;
			transition: all ease 0.2s;

			&:hover {
				g {
					g {
						path {
							fill: var(--grey);
						}
					}
				}
			}
		}
	}
}
