@import './src/scss/index';

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 998;
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
	overflow: hidden auto;
	background: rgb(33 31 32 / 30%);
	opacity: 1;
	backdrop-filter: blur(2px);

	.modal {
		position: relative;
		top: 50px;
		bottom: 50px;
		z-index: 999;
		padding-bottom: 50px;
		font-size: 13px;
		border-radius: 4px;
		transform: translate(-50%, -50%);

		@include flexColumn;

		.closeIcon {
			position: absolute;
			top: 15px;
			right: 15px;
			cursor: pointer;
			transition: all ease 0.2s;

			&:hover {
				g {
					g {
						path {
							fill: var(--grey);
						}
					}
				}
			}
		}
	}
}

.closeIconPostModal {
	position: fixed;
	top: 7px;
	right: 0;
	z-index: 1000;
	width: 30px;
	height: 30px;
	cursor: pointer;

	g {
		g {
			path {
				fill: var(--white);
			}
		}
	}
}
