@import './src/scss/index';

.wrapper {
	background: var(--white);
	border-radius: 5px;
	box-shadow: 0 1px 0 0 #DCE1E6, 0 0 0 1px #E7E8EC;

	.top {
		padding: 20px;
		color: var(--black);
		font-size: 13px;
		background: var(--bg-grey-light);
		border-bottom: 1px solid var(--border);
		border-radius: 5px 5px 0 0;
	}

	.grid {
		display: grid;
		grid-template-columns: 1fr;
		column-gap: 10px;

		.request {
			padding: 20px 20px 0;
			background: var(--white);

			&:last-child {
				border-bottom: none;
			}

			.card {
				display: grid;
				grid-template-areas: "avatar right";
				grid-template-columns: 80px 1fr;
				padding-bottom: 20px;
				column-gap: 20px;
				border-bottom: 1px solid var(--border);

				.followers {
					position: relative;
					grid-area: avatar;
					cursor: pointer;

					img {
						width: 80px;
						height: 80px;
						object-fit: cover;
						border-radius: 50%;
					}
				}

				.right {
					grid-area: right;
					display: grid;
					row-gap: 10px;

					.userName {
						color: var(--blue);
						font-size: 13px;
						font-weight: 500;
						text-decoration: none;
						transition: all ease 0.2s;
						font-family: 'VKSansDisplay-Medium', sans-serif;

						&:hover {
							text-decoration: underline;
						}
					}

					.action {
						display: flex;
						column-gap: 20px;

						@include _tabletS {
							flex-direction: column;
							row-gap: 10px;
						}

						.done {
							padding: 0 10px;
							font-size: 13px;
						}
					}
				}
			}
		}

		.noRequests {
			display: flex;
			align-items: center;
			justify-content: center;
			min-height: 200px;
			color: #939393;
			font-size: 13px;
			background: var(--white);
			border-radius: 0 0 4px 4px;
		}
	}
}
