@import "../../../scss/index";

.button {
	min-width: 150px;
	padding: 10px 20px;
	color: var(--white);
	font-weight: 4Ы00;
	font-size: 13px;
	line-height: 17px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: all ease 0.2s;

	@include flexCenterCenter;

	&:disabled {
		opacity: 0.5;
		pointer-events: none;
	}
}

.primary {
	background: var(--blue);

	&:hover {
		background: var(--blue-alternative);
	}

	&:active {
		transform: translateY(2px);
	}
}

.transparent {
	color: var(--blue);
	background: transparent;

	&:hover {
		background: rgb(174 183 194 / 20%);
	}

	&:active {
		transform: translateY(2px);
	}
}

.secondary {
	padding: 10px 15px;
	color: #55677D;
	font-weight: 400;
	background: #E5EBF1;
	border-radius: 4px;

	&:hover {
		background: #D5DBE1;
	}
}
