.wrapper {
	display: grid;
	grid-template-rows: auto 1fr;
	width: 100%;
	min-height: 100px;
	background: var(--white);
	border-radius: 5px;

	.grid {
		padding: 0 20px;
	}

	.noOnlineFriends {
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 200px;
		color: #939393;
		font-size: 13px;
		background: var(--white);
		border-radius: 0 0 4px 4px;
	}
}
