.followersWrapper {
  grid-area: followers;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 'name' 'grid';
  row-gap: 20px;

  .name {
    grid-area: name;
    color: var(--grey);
    display: flex;
    align-items: center;
    column-gap: 10px;

    div {
      display: flex;
      align-items: center;
      justify-content: center;
      background: var(--blue);
      color: var(--white);
      border-radius: 50%;
      height: 20px;
      width: 20px;
    }
  }

  .grid {
    grid-area: grid;
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 10px;
    background: var(--white);
    border-radius: 11px;
    padding: 20px;
    row-gap: 20px;

    .request {
      display: grid;
      align-items: center;
      grid-template-columns: 50px 1fr auto auto;
      column-gap: 10px;

      .userName {
        font-weight: 500;
        color: var(--grey);
      }

      .followers {
        position: relative;
        cursor: pointer;
        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
        }
      }
    }
    .done {
      font-size: 14px;
      font-weight: 500;
      min-width: 100px;
      padding: 5px;
    }
  }
}
