.wrapper {
	display: flex;
	flex-direction: column;
	row-gap: 20px;

	.createPost {
		display: grid;
		grid-template-areas: "avatar text icon" "image image image" ". . button";
		grid-template-columns: 30px 1fr auto;
		align-items: flex-start;
		padding: 20px;
		column-gap: 10px;
		background: var(--white);
		border-radius: 5px;
		box-shadow: 0 1px 0 0 #dce1e6, 0 0 0 1px #e7e8ec;

		.avatar {
			grid-area: avatar;
			width: 30px;
			height: 30px;
			object-fit: cover;
			border-radius: 50%;
		}

		.placeholder {
			grid-area: text;
			width: 100%;
			padding: 7px;
			overflow: hidden;
			color: var(--grey);
			font-size: 13px;
			word-wrap: break-word;
			resize: none;

			&:focus {
				outline: none;
			}

			&[contenteditable="true"]:empty::before {
				display: block;
				color: var(--grey);
				content: attr(placeholder);
			}
		}

		.icons {
			grid-area: icon;
			justify-self: flex-end;
			padding-top: 4px;

			.file {
				position: absolute;
				visibility: hidden;
				opacity: 0;
			}

			svg {
				cursor: pointer;
				transition: all ease 0.2s;

				path {
					fill: var(--grey);
				}

				&:hover {
					path {
						fill: var(--blue);
					}
				}
			}
		}

		.postImage {
			display: flex;
			grid-area: image;
			align-items: center;
			justify-content: center;
			width: 100%;
			margin-top: 40px;

			img {
				width: 100%;
				object-fit: cover;
			}
		}

		button {
			grid-area: button;
			margin-top: 40px;
		}
	}

	.posts {
		max-width: 100%;
	}
}
