.wrapper {
	position: absolute;
	top: 49px;
	width: 470px;
	background: var(--white);
	border-radius: 0 0 4px 4px;
	box-shadow: 0 1px 0 0 #DCE1E6, 0 0 0 1px #E7E8EC;

	.top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 11px 14px;
		font-size: 13px;
		border-bottom: 1px solid var(--grey-super-light);

		span {
			color: var(--black);
			font-weight: 500;
		}

		a {
			color: var(--blue);
			text-decoration: none;
			transition: all ease 0.2s;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	.middle {
		max-height: 390px;
		overflow-y: auto;

		&::-webkit-scrollbar {
			width: 8px;
		}

		&::-webkit-scrollbar-thumb {
			background-color: var(--grey300);
			border-radius: 4px;
		}
	}

	.bottom {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 12px 14px;
		border-top: 1px solid var(--grey-super-light);

		a {
			color: var(--blue);
			text-decoration: none;
			transition: all ease 0.2s;
			font-size: 13px;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}
