@import "../../scss/index";

.overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 998;
	overflow: hidden;
	background: rgb(33 31 32 / 30%);
	opacity: 1;
	backdrop-filter: blur(2px);

	@include flexCenterCenter;

	.modal {
		position: relative;
		z-index: 999;
		font-size: 13px;
		background: var(--white);
		border-radius: 5px;

		@include flexColumn;

		svg {
			position: absolute;
			top: 15px;
			right: 15px;
			cursor: pointer;
			transition: all ease 0.2s;

			&:hover {
				g {
					g {
						path {
							fill: var(--grey);
						}
					}
				}
			}
		}
	}
}
