@import './src/scss/index';

.wrapper {
	display: grid;
	grid-template-columns: 50px 1fr;
	width: 550px;
	padding: 20px 20px 0;
	column-gap: 20px;
	background: var(--white);
	transition: all ease 0.2s;

	@include _tablet {
		width: 100%;
	}

	&:hover {
		background: rgb(174 183 194 / 10%);
	}

	.avatar {
		img {
			width: 50px;
			height: 50px;
			object-fit: cover;
			border-radius: 50%;
		}
	}

	.body {
		display: grid;
		grid-template-columns: 1fr auto;
		padding-bottom: 25px;
		text-decoration: none;
		column-gap: 10px;
		border-bottom: 1px solid var(--border);
		cursor: pointer;
		row-gap: 10px;

		@include _mobileL {
		}

		.text {
			display: grid;
			grid-template-columns: 1fr;
			row-gap: 10px;

			.name {
				color: var(--black);
				font-weight: 500;
				font-size: 13px;
			}

			.message {
				display: flex;
				align-items: center;
				height: 20px;
				overflow: hidden;
				color: var(--grey);
				font-size: 13px;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
		}

		.right {
			display: grid;
			grid-template-areas: "date" "count";
			grid-template-columns: 1fr;
			justify-items: center;
			align-items: center;
			row-gap: 10px;

			span {
				grid-area: date;
				color: var(--grey);
				font-size: 13px;
				align-self: start;
			}
		}
	}
}
