@import './src/scss/index';

.container {
	display: grid;
	grid-template-columns: 550px 1fr;
	column-gap: 10px;


	.wrapper {
		width: 550px;
		border-bottom: 0 solid var(--bg);
		border-bottom-width: 40px;

		@include _tablet {
			width: 100%;
		}
	}

	.rightBar {

	}
}
