.followersWrapper {
	display: grid;
	grid-template-columns: 1fr;
	width: 550px;
	background: var(--white);
	box-shadow: 0 1px 0 0 #DCE1E6, 0 0 0 1px #E7E8EC;
	height: calc(100vh - 160px);
	border-radius: 5px;

	.top {
		padding: 20px;
		border-radius: 5px 5px 0 0;
		color: var(--black);
		font-size: 13px;
		background: var(--bg-grey-light);
		border-bottom: 1px solid var(--border);
	}

	.grid {
		display: grid;
		grid-template-columns: 1fr;
		column-gap: 10px;

		.request {
		padding: 20px 20px 0;
			background: var(--white);

			&:last-child {
				border-bottom: none;
			}

			.card {
			border-bottom: 1px solid var(--border);
				padding-bottom: 20px;
				display: grid;
				grid-template-columns: 80px 1fr;
				column-gap: 20px;
				grid-template-areas: 'avatar name' '. actions';
				align-items: center;
				.userName {
					grid-area: name;
					color: var(--grey);
					font-weight: 500;
				}

				.followers {
					position: relative;
					cursor: pointer;
					grid-area: avatar;

					img {
						width: 80px;
						height: 80px;
						object-fit: cover;
						border-radius: 50%;
					}
				}

				.action {
					grid-area: actions;
					display: flex;
					column-gap: 20px;

					.done {
						min-width: 150px;
						padding: 5px 10px;
						font-weight: 500;
						font-size: 14px;
					}
				}
			}
		}

		.noRequests {
			color: #939393;
			font-size: 13px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}
