@import './src/scss/index';

.toast {
	position: absolute;
	right: 20px;
	bottom: 100px;
	z-index: 999;
	display: flex;
	width: 400px;
	padding: 20px;
	column-gap: 20px;
	background: var(--white);
	border-radius: 5px;
	box-shadow: 0 4px 4px rgb(0 0 0 / 5%);

	@include _mobileL {
		width: 100%;
		right: 0;
		bottom: -120px;
	}

	.avatar {
		position: relative;

		img {
			width: 50px;
			height: 50px;
			object-fit: cover;
			border-radius: 50%;
		}
	}

	svg {
		position: absolute;
		top: 15px;
		right: 15px;
		z-index: 11;
		cursor: pointer;
		transition: all ease 0.2s;

		&:hover {
			transform: rotate(90deg);
		}
	}

	.body {
		display: flex;
		flex-direction: column;
		row-gap: 10px;
		width: 100%;

		span {
			font-weight: 500;
			font-size: 13px;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			width: 250px;
		}

		p {
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			width: 100px;
			color: var(--grey-middle);
		}
	}
}
