.wrapper {
	box-shadow: 0 1px 0 0 #dce1e6, 0 0 0 1px #e7e8ec;

	.top {
		border-bottom: 1px solid var(--border);
		background: var(--bg-grey-light);
		padding: 20px;
		color: var(--grey-middle);
		font-size: 13px;

		div {
			display: inline-block;
			cursor: pointer;
			position: relative;
			padding: 0 15px 0 0;
			span {
				padding-left: 5px;
			}
		}
	}

	.search {
		background: var(--white);
		position: relative;
		width: 770px;
		top: 70px;
		z-index: 11;

		.input {
			width: 100%;
			padding: 15px 10px 15px 50px;
			overflow: hidden;
			color: var(--grey);
			font-size: 13px;
			word-wrap: break-word;
			resize: none;
			border-bottom: 1px solid var(--border);

			&:focus {
				outline: none;
			}

			&[contenteditable="true"]:empty::before {
				display: block;
				color: var(--grey300);
				content: attr(placeholder);
			}
		}
		button {
			background: none;
			min-width: unset;
			box-shadow: none;
			padding: 0;
			position: absolute;
			top: 13px;
			left: 18px;

			svg {
				height: 20px;
				width: 20px;
				fill: var(--blue);
			}
		}
	}

	.grid {
		background: var(--white);
		min-height: 500px;
		width: 770px;
		padding: 0 20px;

		.card {
			display: flex;
			column-gap: 20px;
			border-bottom: 1px solid var(--border);
			padding: 20px 0;
			align-items: center;

			&:last-child {
				border-bottom: none;
			}

			a {
				img {
					width: 80px;
					height: 80px;
					object-fit: cover;
					border-radius: 50%;
				}
			}

			.body {
				color: var(--blue);
				font-size: 13px;
				display: flex;
				flex-direction: column;
				row-gap: 10px;

				span {
					cursor: pointer;
				}

				.userName {
					font-weight: 500;
				}

				.position {
					color: var(--grey);
				}

				.sendMessage {
					transition: all ease .2s;
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}

}
