@import './src/scss/index';

.wrapper {
	width: 230px;
	background: var(--white);
	border-radius: 4px;
	box-shadow: 0 1px 0 0 #DCE1E6, 0 0 0 1px #E7E8EC;

	@include _tablet {
		width: 100%;
	}

	.friendsCount {
		display: block;
		padding: 20px 20px 0;
		color: var(--black);
		font-size: 13px;
		text-decoration: none;
		cursor: pointer;

		.count {
			color: var(--grey-middle);
		}
	}

	.friendsGrid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		padding: 20px;
		column-gap: 10px;
		row-gap: 20px;

		@include _tablet {
			grid-template-columns: repeat(6, 1fr);
		}

		@include _tabletS {
			grid-template-columns: repeat(4, 1fr);
		}

		@include _mobileL {
			grid-template-columns: repeat(3, 1fr);
		}
	}

	.friend {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 50px;

		img {
			width: 40px;
			height: 40px;
			object-fit: cover;
			border-radius: 50%;
			box-shadow: 0 1px 0 0 #DCE1E6, 0 0 0 1px #E7E8EC;
		}

		.name {
			color: var(--blue);
			font-size: 11px;
			text-decoration: none;
			transition: all ease 0.2s;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	.onlineCount {
		border-top: 1px solid var(--grey-super-light);
	}
}
