@import './src/scss/index';

.bio {
	width: 100%;
	height: fit-content;
	padding: 20px;
	background: var(--white);
	border-radius: 4px;
	box-shadow: 0 1px 0 0 #DCE1E6, 0 0 0 1px #E7E8EC;
	font-family: 'VKSansDisplay-Medium', sans-serif;

	.top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-bottom: 20px;
		border-bottom: 1px solid var(--grey-super-light);

		@include _tabletS {
			flex-direction: column;
			row-gap: 10px;
			align-items: flex-start;
		}

		h1 {
			font-weight: 400;
			font-size: 19px;
			font-family: 'VKSansDisplay-Regular', sans-serif;
		}

		.online {
			position: relative;
			color: var(--grey-middle);
			font-size: 12px;
		}

		.lastVisit {
			color: var(--grey-middle);
			font-size: 12px;
			font-family: 'VKSansDisplay-Regular', sans-serif;
		}
	}

	.middle {
		display: flex;
		flex-direction: column;
		padding: 20px 0;
		font-weight: 400;
		border-bottom: 1px solid var(--grey-super-light);
		row-gap: 10px;

		.mainInfo {
			display: flex;
			flex-direction: column;
			row-gap: 10px;

			&:hover {
				.edit {
					display: inline-block;
				}
			}
		}


		.blockFlex {
			display: flex;
			align-items: center;
			column-gap: 10px;

			.edit {
				display: none;
				color: var(--grey-middle);
				font-size: 13px;
				text-decoration: none;
				transition: all ease 0.2s;

				&:hover {
					text-decoration: underline;
				}
			}
		}

		.block {
			font-size: 13px;

			.title {
				display: inline-block;
				font-weight: 400;
				font-size: 13px;
				white-space: nowrap;
			}

			.border {
				width: 100%;
				height: 1px;
				background: var(--grey-super-light);
			}

			.item {
				display: inline-block;
				width: 165px;
				color: var(--grey-middle);
				font-weight: 400;
				font-size: 13px;
				font-family: 'VKSansDisplay-Regular', sans-serif;
			}

			.itemName {
				color: var(--blue);
			}
		}

		.visibleInfo {
			justify-content: unset;
			white-space: nowrap;
			width: 100%;
			padding-left: 165px;
			color: var(--blue);
			font-size: 13px;
			background: transparent;
			cursor: pointer;
			transition: all ease 0.2s;

			@include _tabletS {
				justify-content: center;
				padding-left: unset;
			}

			&:hover {
				background: rgb(174 183 194 / 10%);
			}
		}
	}

	.bottom {
		display: grid;
		grid-template-columns: 48% 48%;
		padding: 20px 0 0;
		column-gap: 4%;

		.friends {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-self: center;
			width: fit-content;
			color: var(--grey);
			text-decoration: none;
			cursor: pointer;

			.count {
				font-weight: 500;
				font-size: 19px;
				line-height: 21px;
				font-family: 'VKSansDisplay-Medium', sans-serif;
			}

			span {
				font-family: 'VKSansDisplay-Regular', sans-serif;
			}
		}
	}
}
