@import "./src/scss/index";

.search {
	position: relative;
	width: 100%;

	.input input {
		width: 100%;
		padding-right: 50px;
		border: none !important;
	}

	.icon {
		position: absolute;
		top: 8px;
		right: 10px;
		width: 20px;
		height: 20px;
		opacity: 0.5;
	}
}
