.messages {
	position: relative;
	display: flex;
	flex-direction: column;
	padding: 5px 0;

	.messageBlock {
		position: relative;
		display: grid;
		grid-template-areas: "avatar name time" "avatar message .";
		grid-template-columns: 36px 1fr auto;
		max-width: 100%;
		word-wrap: break-word;
		column-gap: 10px;
		row-gap: 5px;

		.deleteIcon {
			position: absolute;
			top: 2px;
			right: 0;
			width: 15px;
			height: 15px;
			cursor: pointer;
		}
	}

	.avatar {
		display: flex;
		grid-area: avatar;
		max-height: 36px;
		column-gap: 10px;

		img {
			width: 36px;
			height: 36px;
			object-fit: cover;
			border-radius: 50%;
		}
	}

	.name {
		.userName {
			grid-area: name;
			color: var(--blue);
			font-weight: 700;
			font-size: 13px;
		}

		.time {
			grid-area: time;
			margin-left: 5px;
			color: var(--grey);
			font-size: 13px;
		}
	}

	.text {
		grid-area: message;
		font-size: 13px;
		line-height: 25px;
		word-break: break-all;

		span {
			transform: translateY(2px);
			span { display: block; }
		}
	}
}
