@import './src/scss/index';

.follow {
	button {
		width: 100% !important;
		font-weight: 400;
		background: var(--blue-alternative);
	}

	.allReadyFriends {
		position: relative;
		justify-content: unset;
		padding-left: 0;
		color: var(--blue-alternative);
		font-weight: 400;
		background: transparent;
		transform: unset;

		@include _tablet {
			justify-content: center;
		}

		&:hover {
			.friendOptions {
				display: block;
			}
		}

		.allReadyIcon {
			margin-right: 10px;
		}

		.arrowDown {
			margin-left: 5px;
		}

		.friendOptions {
			position: absolute;
			top: 35px;
			left: 0;
			display: none;
			width: inherit;
			padding: 5px 0;
			white-space: nowrap;
			background: rgb(0 0 0 / 50%);
			border-radius: 4px;
			box-shadow: 0 1px 0 0 #DCE1E6, 0 0 0 1px #E7E8EC;

			div {
				padding: 10px 20px;
				color: var(--white);
				font-size: 13px;
				text-align: center;
				cursor: pointer;
				transition: all ease 0.2s;

				&:hover {
					background: rgb(255 255 255 / 20%);
				}
			}
		}
	}
}
