.follow {
  button {
    width: 100% !important;
    font-weight: 400;
    background: var(--blue-alternative);
  }

  .allReadyFriends {
    background: transparent;
    color: var(--blue-alternative);
    padding-left: 0;
    justify-content: unset;
    transform: unset;
    font-weight: 400;

    .allReadyIcon {
      margin-right: 10px;
    }

    .arrowDown {
      margin-left: 5px;
    }
  }
}
