.wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-bottom: 20px;
	padding: 20px;
	background: var(--white);
	border-radius: 4px;
	row-gap: 20px;
	box-shadow: 0 1px 0 0 #DCE1E6, 0 0 0 1px #E7E8EC;

	&:last-child {
		margin-bottom: 0;
	}

	.user {
		display: flex;
		align-items: center;
		column-gap: 10px;

		img {
			width: 50px;
			height: 50px;
			object-fit: cover;
			border-radius: 50%;
		}

		.userPost {
			display: flex;
			flex-direction: column;
			row-gap: 5px;

			.userName {
				color: var(--blue);
				font-weight: 500;
				font-size: 13px;
			}

			.date {
				color: var(--greyDark);
				font-size: 12.5px;
			}
		}
	}

	.text {
	}

	img {
		width: 100%;
		object-fit: cover;
	}

	.icons {
		position: relative;
		display: flex;
		align-items: center;
		column-gap: 20px;

		.like {
			&:hover {
				.peopleLikedPopup {
					display: flex;
				}
			}

			.peopleLikedPopup {
				position: absolute;
				top: -55px;
				left: 0;
				display: none;
				align-items: center;
				padding: 10px;
				color: var(--blue);
				font-size: 12px;
				column-gap: 5px;
				background: var(--white);
				border-radius: 4px;
				box-shadow: 0 1px 0 0 #DCE1E6, 0 0 0 1px #E7E8EC;

				.likedPopup {
					img {
						width: 30px;
						height: 30px;
						object-fit: cover;
						border-radius: 50%;
						cursor: pointer;
					}
				}

				.likeMore {
					padding: 5px 10px;
					color: var(--white);
					font-size: 10px;
					background: var(--grey-middle);
					border-radius: 30px;
				}
			}
		}

		.border {
			position: absolute;
			bottom: 0;
			left: -20px;
			width: 106%;
			border-top: 1px solid var(--border);
		}
	}

	.lastComments {
		display: flex;
		flex-direction: column;
		row-gap: 10px;

		.grid {
			display: grid;
			grid-template-columns: 34px 1fr;
			align-items: flex-start;
			column-gap: 10px;

			&:last-child {
				.body {
					border-bottom: none;
				}
			}

			img {
				width: 34px;
				height: 34px;
				object-fit: cover;
				border-radius: 50%;
			}

			.body {
				position: relative;
				display: flex;
				flex-direction: column;
				padding-bottom: 30px;
				border-bottom: 1px solid var(--border);

				.user {
					color: var(--blue);
					font-weight: 500;
					font-size: 13px;
				}

				.comment {
					font-size: 13px;
					line-height: 1.36;
					word-wrap: break-word;
				}

				.dateComment {
					position: absolute;
					bottom: 10px;
					left: 0;
					color: var(--grey);
					font-size: 12.5px;
				}
			}
		}

		.showAllComments {
			display: inline-block;
			padding: 10px 0;
			color: var(--blue);
			font-weight: 500;
			font-size: 13px;

			span {
				cursor: pointer;
			}
		}
	}

	.sendComment {
		display: flex;
		column-gap: 20px;

		.input {
			grid-area: text;
			width: 100%;
			padding: 10px;
			overflow: hidden;
			color: var(--grey);
			font-size: 13px;
			word-wrap: break-word;
			border: 1px solid var(--borderColor);
			border-radius: 4px;
			resize: none;

			&:focus {
				outline: none;
			}

			&[contenteditable="true"]:empty::before {
				display: block;
				color: var(--grey300);
				content: attr(placeholder);
			}
		}

		button {
			min-width: unset;
			height: 37px;
			padding: 5px;
			background: none;
			box-shadow: unset;

			.send {
				width: 24px;
				height: 24px;
				fill: var(--greyDark);
			}
		}
	}
}

.iconBg {
	display: flex;
	align-items: center;
	padding: 5px 15px;
	column-gap: 10px;
	background: var(--bg);
	border-radius: 30px;
	cursor: pointer;

	&:hover {
		background: #E8E8E8;
	}

	svg {
		width: 24px;
		height: 24px;
	}

	.icon {
		height: 24px;
	}

	.likeBackgroundImage {
		width: 24px;
		height: 24px;
		background-image: url("http://localhost:4000/like.png");
		background-repeat: no-repeat;
		background-size: 24px;

		svg {
			display: none;
		}
	}

	.count {
		color: var(--greyDark);
	}
}
