.wrapper {
  color: white;
  background-color: var(--blue);
  display: flex;
  padding: 20px;
  margin-bottom: 50px;
  justify-content: right;
  align-items: center;

  .profile {
    width: 25px;
    height: 25px;
    margin-right: 15px;
    cursor: pointer;

    svg {
      width: 25px;
      height: 25px;
    }
  }

  .logout {
    cursor: pointer;
  }
}