@import "./src/scss/index";

.container {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 12;
	width: 100%;
	background-color: var(--white);
	border-bottom: 1px solid var(--grey-light);

	.wrapper {
		display: flex;
		align-items: center;
		max-width: 990px;
		height: 48px;
		margin: 0 auto;
		padding: 0 20px;
		color: var(--greyDark);

		.logo {
			color: var(--greyDark);
			text-decoration: none;

			h2 {
				display: inline-block;
				cursor: pointer;
			}
		}

		.search {
			position: relative;
			margin-left: 83px;

			input {
				padding: 7px 0 7px 28px;
				background: var(--bg);
				border: none;
				box-shadow: unset;
				-webkit-text-fill-color: unset;

				&::placeholder {
					color: var(--grey);
					opacity: 0.7;
				}
			}

			svg {
				position: absolute;
				top: 6px;
				left: 7px;
				width: 17px;
				height: 17px;
				opacity: 0.7;
			}

			.searchUsers {
				position: absolute;
				bottom: -309px;
				display: flex;
				flex-direction: column;
				width: 100%;
				height: 300px;
				padding: 10px;
				overflow-y: auto;
				background: var(--white);
				border: 1px solid var(--grey-super-light);
				border-radius: 4px;
				box-shadow: 0 1px 4px rgb(0 0 0 / 16%);
				row-gap: 10px;

				.spinner {
					min-height: 100%;

					&::after {
						width: 50px;
						height: 50px;
					}
				}

				.user {
					display: flex;
					column-gap: 5px;

					.avatar {
						img {
							width: 34px;
							height: 34px;
							object-fit: cover;
							border-radius: 50%;
						}
					}

					.userInfo {
						display: flex;
						flex-direction: column;
						font-size: 13px;
						row-gap: 3px;

						.userName {
							overflow: hidden;
							font-weight: 500;
							white-space: nowrap;
							text-overflow: ellipsis;
						}

						span {
							color: var(--grey-middle);
							font-size: 12px;
						}
					}
				}

				.notFound {
					display: flex;
					align-items: center;
					justify-content: center;
					height: 100%;
					color: var(--grey-middle);
					font-size: 13px;
				}
			}
		}

		.notification {
			position: relative;
			flex-grow: 1;
			height: 100%;
			margin-right: 20px;
			margin-left: 15px;

			.count {
				position: absolute;
				top: 6px;
				left: 24px;
				font-size: 12px;
				background: #FF3347;
				cursor: pointer;
			}

			.icon {
				display: flex;
				align-items: center;
				width: 55px;
				height: 100%;
				padding: 0 15px;
				cursor: pointer;
				transition: all ease 0.2s;

				&:hover {
					background: rgb(174 183 194 / 16%);
				}
			}
		}

		.notificationVisible {
			background: rgb(174 183 194 / 16%);
		}

		.profile {
			position: relative;
			height: 100%;
			padding: 0 10px 0 15px;
			column-gap: 5px;
			cursor: pointer;
			transition: all ease 0.2s;

			@include flex;

			&:hover {
				background: rgb(174 183 194 / 16%);
			}

			img {
				width: 30px;
				height: 30px;
				object-fit: cover;
				border-radius: 50%;
			}
		}

		.profileMenuVisible {
			background: rgb(174 183 194 / 16%);
		}

		.logout {
			cursor: pointer;
		}
	}
}
