@import "./src/scss/index";

.container {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 12;
	width: 100%;
	background-color: var(--white);
	border-bottom: 1px solid var(--grey-light);

	.wrapper {
		display: flex;
		align-items: center;
		max-width: 990px;
		height: 48px;
		margin: 0 auto;
		padding: 0 20px;
		color: var(--greyDark);

		.logo {
			color: var(--greyDark);
			text-decoration: none;

			h2 {
				display: inline-block;
				cursor: pointer;
			}
		}

		.notification {
			position: relative;
			flex-grow: 1;
			height: 100%;
			margin-right: 20px;
			margin-left: 15px;

			.count {
				position: absolute;
				top: 6px;
				left: 24px;
				font-size: 12px;
				background: #FF3347;
				cursor: pointer;
			}

			.icon {
				display: flex;
				align-items: center;
				width: 55px;
				height: 100%;
				padding: 0 15px;
				cursor: pointer;
				transition: all ease 0.2s;

				&:hover {
					background: rgb(174 183 194 / 16%);
				}
			}
		}

		.notificationVisible {
			background: rgb(174 183 194 / 16%);
		}

		.profile {
			position: relative;
			height: 100%;
			padding: 0 10px 0 15px;
			column-gap: 5px;
			cursor: pointer;
			transition: all ease 0.2s;

			@include flex;

			&:hover {
				background: rgb(174 183 194 / 16%);
			}

			img {
				width: 30px;
				height: 30px;
				object-fit: cover;
				border-radius: 50%;
			}
		}

		.profileMenuVisible {
			background: rgb(174 183 194 / 16%);
		}

		.logout {
			cursor: pointer;
		}
	}
}
