.wrapper {
  width: 550px;
  background: var(--white);
  border-radius: 4px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  color: var(--grey-middle);

  .noNotifications {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #939393;
    font-size: 13px;
    min-height: 200px;
    background: var(--white);
    border-radius: 0 0 4px 4px;
  }
}