.overlay {
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  overflow: hidden;

  opacity: 1;
  background: rgba(33, 31, 32, 0.7);
  backdrop-filter: blur(2px);

  .menu {
    position: fixed;
    z-index: 999;
    top: 0;
    bottom: 0;
    left: 0;

    width: 320px;
    height: 100vh;

    background: var(--white);
    border-right: 1px solid var(--grey-light);
  }
}