@import-normalize;

@import "scss/media_mixins";
@import "scss/flex_mixins";

body {
	-webkit-font-smoothing: subpixel-antialiased;
	overflow-x: hidden;
	overflow-y: scroll;
	font-family:
		-apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		"Fira Sans",
		"Droid Sans",
		"Helvetica Neue",
		sans-serif;
	background: #EDEEF0;
	-moz-osx-font-smoothing: grayscale;
}

.emoji-mart-preview,
.emoji-mart-search {
	display: none;
}

.emoji-mart {
	position: absolute;
	top: -230px;
	right: 0;
	width: 255px;
	height: 230px;
	overflow: hidden;
}

.emoji-mart-emoji {
	margin: unset;
	padding: unset;
	font-size: unset;

	span {
		display: block !important;
		width: 20px !important;
		height: 20px !important;
	}
}

.emoji-mart-anchor-icon {
	svg {
		width: 16px;
		height: 16px;
		cursor: pointer;
	}
}

.emoji-mart-category-list span {
	width: 20px;
	height: 20px;
	cursor: pointer !important;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--borderColor: #D3D9DE;
	--bg: #EDEEF0;
	--bg-grey-light: #FAFBFC;
	--grey-super-light: #DCE1E6;
	--border: rgb(226 226 226 / 70%);
	--grey: #626D7A;
	--grey-middle: #818C99;
	--greyDark: #808080;
	--grey300: #99A2AD;
	--grey-light: #E2E2E2;
	--modal: #E5E5E5;
	--blue: #2A5885;
	--blue-alternative: #5181B8;
	--black: #120101;
	--green: #00A800;
	--green-alternative: #32B332;
	--white: #FFF;
	--red: #DD070A;
}
