@import "../../scss/index";

.append {
	background: var(--white);
	width: 638px;
	border-radius: 4px;

	.top {
		background: var(--bg-grey-light);
		padding: 20px;
		border-bottom: 1px solid var(--border);
		border-radius: 4px 4px 0 0;
		font-size: 13px;
	}

	.body {
		font-size: 14px;
		margin-bottom: 15px;
		padding: 20px 40px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		line-height: 150%;
		text-align: center;
		row-gap: 35px;

		.file {
			position: absolute;
			visibility: hidden;
			opacity: 0;
		}

		.inputBtn {
			display: inline-block;
			box-sizing: border-box;
			padding: 5px 20px;
			color: var(--white);
			font-weight: 400;
			font-size: 13px;
			background: var(--blue-alternative);
			border: none;
			border-radius: 5px;
			cursor: pointer;
			transition: all ease 0.2s;

			&:active {
				box-shadow: 0 5px 10px 0 #72A379B2;
				transform: translateY(2px);
			}
		}

	}

	.previewBlock {
		width: 100%;
		padding: 40px;

		.previewImage {
			@include flexCenterCenter;

			img {
				width: 300px;
				height: 300px;
				object-fit: cover;
				border-radius: 2px;
			}
		}
	}

	.inputFile {
		position: relative;

		@include _tablet {
			width: 100%;
		}

		.fileSuccess {
			background: var(--green);
		}
	}

	.bottom {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 20px 40px;
		border-top: 1px solid var(--border);

		.btn {
			font-weight: 400;
			font-size: 13px;
			padding: 5px 20px;
			background: var(--blue-alternative);
		}
		span {
			font-size: 12px;
		}
	}
}
