@import "./src/scss/index";

.link {
	display: grid;
	padding: 0 5px;
	grid-template-columns: 18px 1fr 25px;
	align-items: center;
	color: var(--black);
	font-weight: 500;
	font-size: 13px;
	line-height: 30px;
	text-decoration: none;
	column-gap: 10px;
	transition: color ease 0.2s;

	&:hover {
		background: rgba(174, 183, 194, 0.10);
	}

	svg {
		max-width: 20px;
		max-height: 20px;
	}

	@include _tablet {
		margin-left: 0;
	}
}

.rightMenu {
	border-left: 2px solid transparent;
	padding: 5px 20px 5px 20px;
	color: var(--blue);

	transition: all ease .2s;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.activeRightBar {
	border-left: 2px solid var(--blue);
	background: rgba(174, 183, 194, 0.16);
	color: var(--black);
}
